main {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

header {
    color: #e60000
    font-family: 'Abril Fatface', cursive;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 3px;
    height: 50px;
    width: 100%;
    background-color: #bfbfbf;
    font-size: 50px;
    text-align: center;
}

body {
    color: #262626;
    background-color: #bfbfbf;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: auto;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #fefcff;
}

h2 {
    color: #262626;
    background-color: #bfbfbf;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 30px;
}
.underline {
    text-decoration: underline;
}

ul {
    background-color: #bfbfbf;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 30px;
}

a class{
    color: #737373;
}

div {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding-top: 15px;
}
